<a href="https://colab.research.google.com/github/Rajat-Sri/SQL-Python-Data-Analysis/blob/main/SQL_Python_Data_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1. Create Employee and Department DataFrames in Python and SQL:**

In [5]:
import pandas as pd

# Sample Employee data
employee_data = {
    'EmployeeID': [1, 2, 3, 4, 5],
    'FirstName': ['John', 'Jane', 'Bob', 'Alice', 'Eve'],
    'LastName': ['Doe', 'Smith', 'Johnson', 'Brown', 'Davis'],
    'DepartmentID': [101, 102, 101, 103, 102],
    'Salary': [60000, 65000, 70000, 55000, 75000]
}

# Sample Department data
department_data = {
    'DepartmentID': [101, 102, 103],
    'DepartmentName': ['HR', 'Finance', 'IT']
}

# Create Employee and Department DataFrames
employee_df = pd.DataFrame(employee_data)
department_df = pd.DataFrame(department_data)

In [4]:
# Display the DataFrames
print("Employee DataFrame:")
employee_df

Employee DataFrame:

   EmployeeID FirstName LastName  DepartmentID  Salary
0           1      John      Doe           101   60000
1           2      Jane    Smith           102   65000
2           3       Bob  Johnson           101   70000
3           4     Alice    Brown           103   55000
4           5       Eve    Davis           102   75000

In [6]:
print("\nDepartment DataFrame:")
department_df

Department DataFrame:

   DepartmentID DepartmentName
0           101             HR
1           102        Finance
2           103             IT


    CREATE TABLE Department (

    DepartmentID INT PRIMARY KEY,

    DepartmentName VARCHAR(255)
    );
    INSERT INTO Department (DepartmentID, DepartmentName) VALUES
    (101, 'HR'),
    (102, 'Finance'),
    (103, 'IT');
---------------------------------------------------------
    CREATE TABLE Employee (
    EmployeeID INT PRIMARY KEY,
    FirstName VARCHAR(255),
    LastName VARCHAR(255),
    DepartmentID INT,
    Salary INT
    );
    INSERT INTO Employee (EmployeeID, FirstName, LastName, DepartmentID, Salary) VALUES
    (1, 'John', 'Doe', 101, 60000),
    (2, 'Jane', 'Smith', 102, 65000),
    (3, 'Bob', 'Johnson', 101, 70000),
    (4, 'Alice', 'Brown', 103, 55000),
    (5, 'Eve', 'Davis', 102, 75000);

**2. Select all employees in the Finance department and their salaries:**

In [7]:
finance_employees = employee_df[employee_df['DepartmentID'] == 102]
print(finance_employees[['FirstName', 'LastName', 'Salary']])

  FirstName LastName  Salary
1      Jane    Smith   65000
4       Eve    Davis   75000

    SELECT FirstName, LastName, Salary
    FROM Employee
    WHERE DepartmentID = 102;

**3. Count the number of employees in each department**

In [8]:
employee_count_by_dept = employee_df['DepartmentID'].value_counts()
print(employee_count_by_dept)

101    2
102    2
103    1
Name: DepartmentID, dtype: int64

    SELECT DepartmentID, COUNT(*) as EmployeeCount
    FROM Employee
    GROUP BY DepartmentID;

**4. Find the highest salary among employees:**

In [9]:
highest_salary = employee_df['Salary'].max()
print(highest_salary)

75000

    SELECT MAX(Salary) as HighestSalary
    FROM Employee;

**5. List employees with a salary above $70,000:**

In [10]:
high_salary_employees = employee_df[employee_df['Salary'] > 70000]
print(high_salary_employees[['FirstName', 'LastName', 'Salary']])

  FirstName LastName  Salary
4       Eve    Davis   75000

    SELECT FirstName, LastName, Salary
    FROM Employee
    WHERE Salary > 70000;

**6. Calculate the total salary expense for each department:**

In [11]:
total_salary_by_dept = employee_df.groupby('DepartmentID')['Salary'].sum()
print(total_salary_by_dept)

DepartmentID
101    130000
102    140000
103     55000
Name: Salary, dtype: int64

    SELECT DepartmentID, SUM(Salary) as TotalSalary
    FROM Employee
    GROUP BY DepartmentID;

**7. Sort employees by last name in alphabetical order:**

In [12]:
sorted_employees = employee_df.sort_values(by='LastName')
print(sorted_employees[['FirstName', 'LastName']])

  FirstName LastName
3     Alice    Brown
4       Eve    Davis
0      John      Doe
2       Bob  Johnson
1      Jane    Smith

    SELECT FirstName, LastName
    FROM Employee
    ORDER BY LastName ASC;

**8. Find the average salary of employees whose first name starts with 'J':**

In [13]:
j_employees = employee_df[employee_df['FirstName'].str.startswith('J')]
avg_salary_j_employees = j_employees['Salary'].mean()
print(avg_salary_j_employees)

62500.0

    SELECT AVG(Salary) as AvgSalary
    FROM Employee
    WHERE FirstName LIKE 'J%';

**9. Join Employee and Department DataFrames to get employee names and department names:**

In [14]:
merged_df = pd.merge(employee_df, department_df, on='DepartmentID')
print(merged_df[['FirstName', 'LastName', 'DepartmentName']])

  FirstName LastName DepartmentName
0      John      Doe             HR
1       Bob  Johnson             HR
2      Jane    Smith        Finance
3       Eve    Davis        Finance
4     Alice    Brown             IT

    SELECT E.FirstName, E.LastName, D.DepartmentName
    FROM Employee E
    JOIN Department D ON E.DepartmentID = D.DepartmentID;

**10. Find the department with the highest average salary:**

In [15]:
avg_salary_by_dept = employee_df.groupby('DepartmentID')['Salary'].mean()
department_with_highest_avg_salary = avg_salary_by_dept.idxmax()
print(department_with_highest_avg_salary)

102

    SELECT DepartmentID
    FROM (
    SELECT DepartmentID, AVG(Salary) as AvgSalary
    FROM Employee
    GROUP BY DepartmentID
    ORDER BY AvgSalary DESC
    LIMIT 1
    );